<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/js/tic.css">
    </head>
    <body>
        <div id="about">
        {{>header}}

        <P>Instagram I'D  -@sourav_kapahu_</P>
        <p>whatsapp no. +91-8437378977</p>
        {{>footer}}
        </div>
    </body>
</html>