<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/js/tic.css">
    </head>
    <body>
        <div id="help">
        {{>header}}
        <p>For Help message me on whatsapp - +91-8437378977</p>
        {{>footer}}
        </div>
    </body>
</html>